# Default ignored files
/../../Pure Python /.idea/shelf/
/../../Pure Python /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Pure Python /.idea/httpRequests/
# Datasource local storage ignored files
/../../Pure Python /.idea/dataSources/
/../../Pure Python /.idea/dataSources.local.xml
